.img-parallelogram {
  display: block;
  position: relative;
  padding-bottom: 116%;
  transform-origin: 0 100%;
  transform: skewX(-17deg) translatez(1px);
  overflow:hidden;
  &:before{
    content:'';
    position:absolute;
    width:136%;
    height:100%;
    background-image:url('../../img/about-img.jpg');
    background-size:cover;
    background-position:center;
    transform-origin:inherit;
    transform:skewX(17deg);
  }
}
