.quests {
  padding: 60px 0;
  padding-bottom: 65px;
  &__container {
    padding: 40px 100px;
    max-width: 1180px;
    background-color: var(--bg-color);
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: rem(30);
    letter-spacing: 0.2px;
    line-height: 30px;
    color: var(--riverbed-color);
  }

  &__descr {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Intro Book';
    font-weight: 400;
    font-size: rem(16);
    line-height: 16px;
    color: #808080;
  }

  &__wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__num {
    font-family: 'Intro Book';
    font-weight: 400;
    font-size: rem(16);
    line-height: 16px;
    color: #808080;
  }

  &__btn {
    padding: 15px 40px;
    font-family: 'Intro Regular';
    font-weight: 400;
    line-height: 16px;
    color: var(--riverbed-color);
    background-color: var(--bg-color);
    border: 1px solid var(--riverbed-color);
    @include hover {
      background-color: var(--riverbed-color);
      color: var(--light-color);
    }
    &:active {
      background-color: var(--tuna-color);
      color: var(--light-color);
    }
  }
}

.quests__container--four {
  padding: 80px 100px;
  padding-bottom: 54px;
}

.quests__btn.focus-visible {
  outline: solid;
  outline-color: var(--tuna-color);
}
