<section class="quests">
  <div class="container quests__container">
    <h2 class="quests__title">Мы подберем идеальную пару для вас</h2>
    <p class="quests__descr">Ответьте на три вопроса и мы вышлем каталог с самыми подходящими для вас моделями </p>
    <div class="quests-form quests-form--first visually-hidden">
      <h3 class="quests-form__title">Какой тип кроссовок рассматриваете?</h3>
      <ul class="quests-form__list list-reset grid">
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
      </ul>
    </div>
    <div class="quests-form quests-form--second">
      <h3 class="quests-form__title">Какой размер вам подойдет?</h3>
      <ul class="quests-form__list list-reset grid">
        <li class="quests-form__card">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">менее 36</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">36-38</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">39-41</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">42-44</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">45 и больше</span>
            </label>
          </div>
        </li>
      </ul>
      <img src="../img/quests-form-2.jpg" width="980px" height="282px" alt="" class="quests-form__img">

    </div>
    <div class="quests__wrapper">
      <span class="quests__num">1 из 3</span>
      <button class="btn-reset btn quests__btn">Следующий шаг</button>
    </div>
  </div>
</section>
