<section class="quests">
  <div class="container quests__container quests__container--first">
    <h2 class="quests__title">Мы подберем идеальную пару для вас</h2>
    <p class="quests__descr">Ответьте на три вопроса и мы вышлем каталог с самыми подходящими для вас моделями </p>
    <div class="quests-form">
      <h3 class="quests-form__title">Какой тип кроссовок рассматриваете?</h3>
      <ul class="quests-form__list list-reset grid">
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <img src="../img/quests-form-1.jpg" alt="" class="quests-form__img">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">кеды</span>
            </label>
          </div>
        </li>
      </ul>
    </div>
    <div class="quests__wrapper">
      <span class="quests__num">1 из 3</span>
      <button class="btn-reset btn quests__btn">Следующий шаг</button>
    </div>
  </div>
  <div class="container quests__container quests__container--second visually-hidden">
    <h2 class="quests__title">Мы подберем идеальную пару для вас</h2>
    <p class="quests__descr">Ответьте на три вопроса и мы вышлем каталог с самыми подходящими для вас моделями </p>
    <div class="quests-form">
      <h3 class="quests-form__title">Какой размер вам подойдет?</h3>
      <ul class="quests-form__list list-reset grid">
        <li class="quests-form__card">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">менее 36</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">36-38</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">39-41</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">42-44</span>
            </label>
          </div>
        </li>
        <li class="quests-form__card">
          <div class="quests-form__checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">45 и больше</span>
            </label>
          </div>
        </li>
      </ul>
      <img src="../img/quests-form-2.jpg" width="980px" height="282px" alt="" class="quests-form__img">
    </div>
    <div class="quests__wrapper">
      <span class="quests__num">1 из 3</span>
      <button class="btn-reset btn quests__btn">Следующий шаг</button>
    </div>
  </div>
  <div class="container quests__container quests__container--third visually-hidden">
    <h2 class="quests__title">Мы подберем идеальную пару для вас</h2>
    <p class="quests__descr">Ответьте на три вопроса и мы вышлем каталог с самыми подходящими для вас моделями </p>
    <div class="quests-form">
      <h3 class="quests-form__title">Какой размер вам подойдет?</h3>
      <div class="quests-form__area">
        <textarea type="textarea" placeholder="Введите сообщение" class="quests-form__area-input"></textarea>
      </div>
    </div>
    <div class="quests__wrapper">
      <span class="quests__num">1 из 3</span>
      <button class="btn-reset btn quests__btn">Следующий шаг</button>
    </div>
  </div>
  <div class="container quests__container quests__container--four visually-hidden">
    <h2 class="quests__title">Ваша подборка готова!</h2>
    <p class="quests__descr">Оставьте свои контактные данные, чтобы бы мы могли отправить  подготовленный для вас каталог</p>
    <div class="quests-data">
      <div class="quests-data__wrapper">
        <h3 class="quests-data__title">Получить предложение</h3>
        <p class="quests-data__subtitle">Получите подборку подходящих для вас моделей на почту</p>
        <div class="quests-data__inner">
          <input class="quests-data__input" type="name" placeholder="Ваше имя">
          <input class="quests-data__input" type="email" placeholder="E-mail">
        </div>
        <button class="quests-data__btn btn btn-reset btn--primary">Получить</button>
      </div>
      <img src="../img/quests-form-3.png" width="210px" height="400px" class="quests-data__img" alt="phone">
      <img src="../img/quests-form-3-done.png" width="200px" height="400px" class="quests-data__img-done" alt="phone">
    </div>
  </div>
</section>
