<section class="team">
  <div class="container team__container">
    <h2 class="team__title">Наша команда</h2>
    <div class="team__wrapper">
      <ul class="team-list list-reset grid">
        <li class="team-list__item">
          <div class="team__image">
            <img src="img/team-1.jpg" alt="Продукт 1">
          </div>
          <h3 class="team__name">Максим Золотарев</h3>
          <span class="team__position">Администратор</span>
        </li>
        <li class="team-list__item">
          <div class="team__image">
            <img src="img/team-2.jpg" alt="Продукт 1">
          </div>
          <h3 class="team__name">Максим Золотарев</h3>
          <span class="team__position">Администратор</span>
        </li>
        <li class="team-list__item">
          <div class="team__image">
            <img src="img/team-3.jpg" alt="Продукт 1">
          </div>
          <h3 class="team__name">Максим Золотарев</h3>
          <span class="team__position">Администратор</span>
        </li>
        <li class="team-list__item">
          <div class="team__image">
            <img src="img/team-4.jpg" alt="Продукт 1">
          </div>
          <h3 class="team__name">Максим Золотарев</h3>
          <span class="team__position">Администратор</span>
        </li>
        <li class="team-list__item">
          <div class="team__image">
            <img src="img/team-5.jpg" alt="Продукт 1">
          </div>
          <h3 class="team__name">Максим Золотарев</h3>
          <span class="team__position">Администратор</span>
        </li>
        <li class="team-list__item">
          <div class="team__image">
            <img src="img/team-6.jpg" alt="Продукт 1">
          </div>
          <h3 class="team__name">Максим Золотарев</h3>
          <span class="team__position">Администратор</span>
        </li>
      </ul>
    </div>
  </div>
</section>
